<div id="details-cont">
    <h1>{{computerData.model}}</h1>
    <br>
    <div id="details-img">
        <img src="/images/{{computerData.img}}" alt="computer image">
    </div>
    <div id="tech-specs">
        <h2>Tech Specs</h2>
        <hr>
        <h3>Size</h3>
        <p>{{computerData.size}}</p>
        <h3>Proccessor:</h3>
        <p>{{computerData.processor}}</p>
        <h3>Price:</h3>
        <p>${{computerData.price}}.00</p>
    </div>
</div>